#cache and checkpoints
scripts/.ipynb_checkpoints
scripts/.ipynb_checkpoints/*
.ipynb_checkpoints
.ipynb_checkpoints/*
scripts/__pycache__
scripts/__pycache__/*

#input_data
input_data
input_data/*

#output_data
output_data
output_data/*


