#checkpoints
notebooks/.ipynb_checkpoints
notebooks/.ipynb_checkpoints/*

#cache
src/__pycache__
src/__pycache__/*
src.egg-info/*
src.egg-info

#input_data
data
data/*

#output_data
results
results/*

#reports
reports
reports/*

#pycharm project
.idea

#pip project
scr.egg-info

#DS_Store
.DS_Store
*/.DS_Store
*/*/.DS_Store
